@model IEnumerable<MovieStore.Models.Rental>

@{
    ViewData["Title"] = "CheckBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Balance</h1>

<h4>Below is an itemized list of rentals that are currently causing a balance on your account. Click the button below to navigate to the "Renturn Rentals" Page where you can return these rentals.</h4>

<a type="button" asp-action="ReturnRental" class="btn btn-primary">Return Rentals</a>

<table class="table text-center">
    <thead>
        <tr>
            <th>
                Due Date
            </th>
            <th>
                Movie Title
            </th>
            <th>
                Rented On
            </th>
            <th>
                Days Late
            </th>
            <th>
                Total Cost<br />
                (After late fees)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.IsLate)
                {
                    @:<p class="text-danger">@DateTime.Parse(item.DueDate).ToLongDateString()</p>
                }
                else
                {
                    @:<p>@DateTime.Parse(item.DueDate).ToLongDateString()</p>
                }
            </td>
            <td>
                @item.RentalTransaction.TransactionMovie.MovieTitle
            </td>
            <td>
                @DateTime.Parse(item.RentalTransaction.TransactionDate).ToLongDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DaysLate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalFinalCost)
            </td>
        </tr>
}
        <tr>
            <td colspan="5">
                <p class="text-right font-weight-bold"> Total Balance: $@ViewBag.UserBalance</p>
            </td>
        </tr>
    </tbody>
</table>
