@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewData["Title"] = "CustomerHomepage";
}

<h1>Customer Homepage</h1>

<a type="button" asp-action="DisplayCart" class="btn btn-primary" style="float: right; padding-right: -20%;">My Cart</a>
<br />
<br />

@if (ViewBag.Result != null)
{
    @:<div class="border-success alert-success text-success text-center" style="border-radius: 25px; width: 120%;" ><p>@ViewBag.Result</p></div>
}
@if (ViewBag.Failure != null)
{
    @:<div class="border-danger alert-danger text-danger text-center" style="border-radius: 25px; width: 120%;"><p>@ViewBag.Failure</p></div>
}
<table class="table align-content-center" style="width: 120%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRating)
            </th>
            <th>
                director Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRating.AgeRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieRating) Stars
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director.FName) @Html.DisplayFor(modelItem => item.Director.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRating.AgeRating)
                </td>
                <td class="align-self-center">
                    <a type="button" asp-action="AddRental" asp-route-movieId="@item.MovieNum" class="btn btn-success">Rent</a>   <a type="button" asp-action="AddPurchase" asp-route-movieId="@item.MovieNum" class="btn btn-primary">Purchase</a>
                </td>
            </tr>
        }
    </tbody>
</table>

