@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewData["Title"] = "CustomerHomepage";
}

<h1>Customer Homepage</h1>

<p class="text-danger">
    @ViewBag.Result
</p>
<a asp-action="DisplayCart">My Cart</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRating)
            </th>
            <th>
                director Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeRating.AgeRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director.FName) @Html.DisplayFor(modelItem => item.Director.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MovieReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgeRating.AgeRating)
                </td>
                <td>
                   <a type="button" asp-action="AddRental" asp-route-movieId="@item.MovieNum" class="btn btn-success">Rent Movie</a>   <a type="button" asp-action="AddPurchase" asp-route-movieId="@item.MovieNum" class="btn btn-primary">Purchase Movie</a>
                </td>
            </tr>
        }
    </tbody>
</table>

