@model IEnumerable<MovieStore.Models.Cart>

@{
    ViewData["Title"] = "DisplayCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Cart</h1>

<p class="text-danger">@ViewBag.Result</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MovieRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MovieReleaseDate)
            </th>
            <th>
                Purchase/Rental
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.MovieTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.MovieRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.MovieReleaseDate)
                </td>
                <td>
                    @if (item.IsRental)
                    {
                        @:Rental
                    }
                    else
                    {
                        @:Purchase
                    }
                </td>
                @if (item.IsRental)
                {
                    <td>
                        $@Html.DisplayFor(modelItem => item.Movie.RentalPrice)
                    </td>
                }
                else
                {
                    <td>
                        $@Html.DisplayFor(modelItem => item.Movie.PurchasePrice)
                    </td>
                }
                <td>
                    <a type="button" asp-action="RemoveFromCart" asp-route-cartId="@item.CartId" class="btn btn-primary">Remove</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="5" class="text-lg-right font-weight-bold"> Total: $@ViewBag.Total</td>
        </tr>
        <tr>
            <td><a type="button" asp-action="DisplayCheckout">Checkout</a></td>
        </tr>
    </tbody>
</table>
