@model IEnumerable<MovieStore.Models.Movie>

@{
    ViewData["Title"] = "MovieSearchResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movie Search Results</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieReleaseDate)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieReleaseDate)
            </td>
        </tr>
}
    </tbody>
</table>
